code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.org {
  text-align: center;
  color: whitesmoke;
}

.backdrop {
  background-image: url("https://images.unsplash.com/photo-1594121816049-9b5713c9c1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  /* width: 100vw;
  height: 5vh; */
}

body {
  /* background-image: url("https://images.unsplash.com/photo-1594308063939-bfd5756a1da5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"); */
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

ul {
  list-style-position: inside;
}